* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-image: linear-gradient(
    to bottom,
    rgb(196, 87, 44),
    rgb(109, 51, 28)
  );
  height: 100vh;
  font-family: 'Dosis', sans-serif;
}
h1 {
  text-align: center;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
#desc {
  text-align: center;
  font-style: italic;
  color: rgb(240, 185, 47);
}
#game-container {
  margin: 0px auto;
  width: min-content;
}

/* game board */
#game-board {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: auto;
  padding: 20px;
  font-weight: bold;
}
.players-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.players-profiles .img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 15px;
  border: transparent solid 6px;
}
@keyframes winner-highlight {
  from {
    border: rgb(48, 163, 13) solid 6px;
    box-shadow: 0 0 10px rgb(48, 163, 13);
  }
  to {
    border: transparent solid 6px;
    box-shadow: 0 0 10px transparent;
  }
}
.players-profiles .winner-img {
  animation-name: winner-highlight;
  animation-duration: 1s;
}
.players-profiles img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: 0 10px;
  transform: scale(1.4, 1.4);
}
.players-profiles p {
  margin: 10px 0;
}
#player-profile {
  grid-column: 1;
}
#roboto-profile {
  grid-column: 3;
}
.point {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point.winner-point {
  background-color: rgb(48, 163, 13);
}
#game-hands {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: inset gray 5px;
  margin: 0 10px;
  background-image: linear-gradient(
    120deg,
    rgb(211, 71, 16) 40%,
    rgb(133, 223, 203) 60%
  );
}
.hand-box {
  width: 100px;
  height: 100px;
}
@keyframes apparition {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
.icons {
  width: inherit;
  height: inherit;
  transform-origin: center;
  animation-duration: 0.5s;
  animation-name: apparition;
  /* animation-timing-function don't work with transition, use transition-timing-function instead */
  animation-timing-function: cubic-bezier(0.34, 0.88, 0.8, 1.44);
  /* shadow for <SVG> & transparent PNG */
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

/* display result */
#winner-declaration {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: max-content;
  width: max-content;
  background-color: rgb(240, 185, 47);
  color: rgb(78, 17, 9);
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  white-space: pre-wrap;
}
#new-game-btn {
  margin: 10px auto 0 auto;
  display: block;
  opacity: 0;
  visibility: collapse;
  position: absolute;
}
#new-game-btn.visible {
  opacity: 100;
  visibility: visible;
  position: initial;
}

/* Options buttons */
#buttons {
  display: flex;
  justify-content: center;
}
.button-icons {
  object-fit: fill;
  width: 50px;
  height: 50px;
  transform: scale(1, 1);
  transition: 0.2s;
  transition-timing-function: ease-out;
}
.button .button-icons:hover {
  transform: scale(1.5, 1.5);
  cursor: pointer;
}
.disabled-button .button-icon:hover {
  transform: scale(1, 1);
}
.button,
.disabled-button {
  background: transparent;
  border: none;
  margin: 5px;
}

/* rounds result */
#round-result {
  margin-top: 10px;
}
#round-result-text {
  opacity: 0;
  transition: opacity 0s;
  font-size: 12px;
  height: 20px;
  font-weight: bold;
  color: rgb(230, 180, 56);
  text-align: center;
}
#round-result-text.visible {
  transition: opacity 0.2s;
  opacity: 100;
}
#rounds-table {
  border-spacing: 0;
  width: max-content;
  margin-top: 10px;
}
#rounds-table td,
#rounds-table th {
  border: black 1px solid;
  width: 30px;
  height: 30px;
}
#rounds-table th {
  background-color: rgb(211, 166, 52, 0.5);
}
#player-plays {
  background-color: rgb(211, 71, 16, 0.5);
}
#roboto-plays {
  background-color: rgba(133, 223, 204, 0.5);
}
#rounds-table td.win-cell {
  background-color: green;
}
